<%- include head %>
<%- include header %>
	<div class="progress">
		<div class="container">
			<div class="progress-list">
				<span class="progress-list-percent">0%</span>
				<div class="progress-list-item">
					selected1
				</div>
				<div class="progress-list-item">
					selected2
				</div>
				<div class="progress-list-item">
					selected3
				</div>
			</div>
		</div>
	</div>
<%- include footer %>