		<div class="footer">
			<div class="container">
				<!--dddddddd-->
			</div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/<%= filename %>.js"></script>
    </body>
    
</html>