<div class="header">
	<div class="container">
		<% if(filename != "main") { %>
		<div class="header-logo">
			<a href="/"><img src="/img/logo.png" /></a>
		</div>
		<% } %>
		<div class="header-menu">
			<a href="/scan">Scan</a>
			<a>How it works</a>
			<a>Pricing</a>
		</div>
		<div class="clearfix"></div>

	</div>
</div>